@tailwind base;

html, body, #root {
  height: 100%;
  width: 100%;
}

[type='text'], [type='password'] {
  @apply appearance-none leading-tight bg-gray-200 font-normal text-gray-700 border border-gray-400 rounded;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  @apply outline-none bg-white border-chat-700 ring-chat-700;
}

button.submit {
  @apply rounded font-bold text-white bg-chat-900 border-2 border-chat-900;
}

button.submit:disabled {
  @apply bg-gray-500 border-gray-500;
}

button:focus {
  @apply outline-none border-2 border-white rounded;
}

@tailwind components;
@tailwind utilities;
